<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- Express treat the public folder as root, so we don't have to specify the absolute path -->
   <link rel="stylesheet" href="/styles.css">
   <title>Short Blog | <%= title %></title>
</head>