<html lang="en">

<%- include('./partials/head.ejs') %>

   <body>
      <%- include('./partials/nav.ejs') %>

         <div class="about content">
            <h2>About Us</h2>
            <p>This site is created by Suhaib Knight</p>
            <p>For any help please contact me at suhaibknight@gmail.com</p>
         </div>
   </body>

   <%- include('./partials/footer.ejs') %>


</html>